<!-- 
    Encaminhar uma landing page. Os pontos em avaliação nessa atividade serão:
        # Utilização do Bootstrap;
        # Adição e personalização da navbar;

        # Implementação e personalização do carrossel;
        # Formatar elementos de texto com o Bootstrap;
        # Utilizar o Bootstrap para controlar larguras e alturas de margin e padding;
        # Personalizar o componente quando necessário usando nossas próprias classes.
        # Utilizar algumas ferramentas do Bootstrap Grid;
        # Fazer pequenos ajustes de leiaute com o CSS;
        # Organização/indentação do código final. 

    Palheta de cores:
        #Old Burgundy: 3b252c
        #Amber: FFBF00
        #Tea Green: CAFFD0
        #Pink Lace: FDCFF3
        #Phlox: CA3CFF
-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/animate.css">
    <link rel="shortcut icon" href="../icon/Princess_Crown.ico" type="image/x-icon">
    <title>Princess</title>
</head>
<body>
    <header>
    </header>


    <!-- Scripts -->

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-2.2.0.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</html>